# Конфигурация cron для системы KGB-Pulse
# Все задачи выполняются в московском времени (MSK)

# Мониторинг системы каждые 5 минут
*/5 * * * * php /var/www/html/scripts/monitor_system.php

# Автоматическое закрытие регистрации каждый час
0 * * * * php /var/www/html/scripts/auto_close_registration.php

# Автоматическая отметка неявки каждые 30 минут
*/30 * * * * php /var/www/html/scripts/auto_mark_no_show.php

# Резервное копирование базы данных ежедневно в 02:00
0 2 * * * /var/www/html/scripts/backup_database.sh

# Проверка безопасности ежедневно в 03:00
0 3 * * * php /var/www/html/scripts/security_check.php

# Очистка старых данных ежедневно в 05:00
0 5 * * * php /var/www/html/scripts/cleanup_old_data.php

# Очистка логов еженедельно в воскресенье в 04:00
0 4 * * 0 /var/www/html/scripts/cleanup_logs.sh

# Создание годовых архивов 1 января в 01:00
0 1 1 1 * /var/www/html/scripts/backup_database.sh --yearly

# Проверка обновлений системы еженедельно в субботу в 06:00
0 6 * * 6 php /var/www/html/scripts/check_updates.php 